/* Authentication Pages */


.auth-body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    letter-spacing: 1px;
}

/* Header */
nav {
    display: flex;
    background-color: #EC346E;
    padding: 10px 20px;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login,
.signup {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login:hover,
.signup:hover {
    background-color: #ddd;
}

/* Form Container */
.form-cont {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.show-pass {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: max-content;
    width: max-content;
}

.show {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.auth-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    padding: 10px;
}

.auth-input {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 27px;
}

.auth-input2{
      padding: 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 27px;
}

.eye {
    display: flex;
    cursor: pointer;
    height: 7%;
    width: 7%;
    position: relative;
    left: 385px;
    top: 35px;
}

.eye-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auth-submit {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-submit:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.signup2 {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.auth-a {
    text-decoration: underline;
    color: -webkit-link;
}

.error-msg {
    color: red;
}